.App {
  display: flexbox;
  text-align: center;
}

body {
  background-image: url('images/background.png');
  background-position: center;
  color: white;
  font-family: 'Epilogue';
  text-align: center;
}

#sistema-solar {
  width: 100%;
}

.planetas {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 12%;
  margin-top: 100px;
}

#Mercúrio {
  display: block;
  height: 31px;
  left: 39px;
  top: 620px;
  margin: auto;
  margin-top: 40%;
  width: 41px;
}

#Vênus {
  display: block;
  height: 76px;
  left: 137px;
  top: 597px;
  width: 102px;
  margin: auto;
  margin-top: 28%;
}

#Terra {
  display: block;
  height: 79px;
  left: 278px;
  top: 596px;
  margin: auto;
  margin-top: 25%;
  width: 106px;
}

#Marte {
  display: block;
  height: 50px;
  left: 423px;
  top: 610px;
  margin: auto;
  margin-top: 30%;
  width: 66px;
}

#Júpiter {
  display: block;
  height: 204px;
  left: 489px;
  top: 518px;
  margin: auto;
  width: 272px;
}

#Saturno {
  display: block;
  height: 210.9px;
  left: 694px;
  top: 547.35px;
  transform: rotate(-16.53deg);
  margin: auto;
  width: 282.41px;
}

#Urano {
  display: block;
  height: 109px;
  left: 977px;
  top: 576px;
  margin: auto;
  margin-top: 25%;
  width: 144px;
}

#Netuno {
  display: block;
  height: 107px;
  left: 1255px;
  top: 577px;
  margin: auto;
  margin-top: 25%;
  width: 144px;
}

#missions-style {
  background-color: rgba(169, 169, 169, 0.2);
  border: 2px solid white;
  margin: auto;
  border-radius: 20px;
  width: 80%;
  margin-top: 200px;
}

.mission-cards {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border: 2px solid white;
  width: 30%;
  border-radius: 30px;
  color: white;
  box-shadow: 0px 4px 14px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  margin-top: 150px;
  padding-top: 30px;
  font-weight: 300;
  text-shadow:
    0 0 7px white ,
    0 0 10px white ,
    0 0 21px white ,
    0 0 42px white ,
    0 0 82px white ,
    0 0 92px white ,
    0 0 102px white ,
    0 0 151px white;
}

.MISSÕES {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
  text-shadow:
    0 0 7px white ,
    0 0 10px white ,
    0 0 21px white ,
    0 0 42px white ,
    0 0 82px white ,
    0 0 92px white ,
    0 0 102px white ,
    0 0 151px white;
}

p {
  text-shadow:
  0 0 7px gray ,
  0 0 10px gray ,
  0 0 21px gray ,
  0 0 42px gray ,
  0 0 82px gray ,
  0 0 92px gray ,
  0 0 102px gray ,
  0 0 151px gray;
}